.content-default {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    min-height: 90vh;
    
    & > p {
        font-size: 0.875rem;
        font-weight: 300;
    }

}

.post-date {
    font-size: 0.8rem;
    color: #b8b5b5;
    font-weight: 300;
}

.content-post {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-weight: 300;

    & tr:hover {
        background-color: rgba(82, 82, 255, 0.568) !important;
    }

    h1,h2,h3,h4,h5,h6 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    }
    
    p, li{
        font-size: 0.875rem;
    }

    ul {
        list-style-type: symbols();
    }

    >table th, >table td {
        font-size: 0.75rem;
        font-weight: 300;
        padding: 0.2em 1em;
    }

    >table {
        width: auto;
    }

    strong {
        font-weight: 500;
    }
}

